<div class="select-component">
    <mat-label class="label">
        {{label}}
    </mat-label>

    @if(controlName){
    <mat-form-field [class.error-border]="hasError">
        <mat-select  [formControlName]="controlName" [multiple]="multiple" (valueChange)="onChangeEmitter.emit($event)">
            @for(option of options; track $index){
            @if(option.label && option.value){
            <mat-option [value]="option.value">{{option.label}}</mat-option>
            }
            }
        </mat-select>
    </mat-form-field>
    } @else {
    <mat-form-field>
        <mat-select (valueChange)="onChangeEmitter.emit($event)" [(value)]="selectedValue">
            @for(option of options; track $index){
            @if(option.label && option.value){
            <mat-option [value]="option.value">{{option.label}}</mat-option>
            }
            }
        </mat-select>
    </mat-form-field>
    }
    <span *ngIf="hasError" class="error-message">{{errorMessage}}</span>
</div>