<div class="sell-car-details-form">
    <div class="sell-car-details-form__form-control">
        <app-input-component label="Make" id="make" controlName="make" />
    </div>
    <div class="sell-car-details-form__form-control">
        <app-input-component label="Model" id="model" controlName="model" />
    </div>
    <div class="sell-car-details-form__form-control">
        <app-select-component label="Year" [options]="yearOptions" controlName="year" />
    </div>
    <div class="sell-car-details-form__form-control">
        <app-input-component label="Transmission" id="transmission" />
    </div>
    <div class="sell-car-details-form__form-control">
        <app-input-component label="Drivetrain" id="drivetrain" />
    </div>
    <div class="sell-car-details-form__form-control">
        <app-input-component label="Engine" id="engine" />
    </div>
    <div class="sell-car-details-form__form-control">
        <app-input-component label="Mileage" id="mileage" />
    </div>
    <div class="sell-car-details-form__form-control">
        <app-input-component label="Street Address" id="street-address" />
    </div>
    <div class="sell-car-details-form__form-control">
        <app-input-component label="State" id="state" />
    </div>
    <div class="sell-car-details-form__form-control">
        <app-input-component label="City" id="city" />
    </div>
    <div class="sell-car-details-form__form-control">
        <app-input-component label="Zip Code" id="zip-code" />
    </div>
    <div class="sell-car-details-form__form-control">
        <app-input-component label="Number of owners" id="number-of-owners" />
    </div>
    <div class="sell-car-details-form__form-control">
        <app-input-component label="Making payments" id="making-payments" />
    </div>
    <div class="sell-car-details-form__form-control">
        <app-input-component label="Number of keys" id="number-of-keys" />
    </div>
    <div class="sell-car-details-form__form-control">
        <app-sell-car-color-inputs (handleCarColorEmitter)="handleCarColorEmitter.emit($event)" />
    </div>
</div>